h1
{
  text-align: center;
  color:red;
}


li
{
  list-style: none;
  color: white;
}
div.sample{
  text-align:center;
  margin-left:25%;
  margin-right:25%;
}

body
{
  font-family: sans-serif;
}

#main{
  margin-top: 5em;
}

.navbar-default{
  background-color: #394b77;
  border-color: #8ddc92;
}


#navbar> ul >li> a, #title {
  color:white;
}
