{% extends "base.html" %}
{% block main %}
<div class="jumbotron">
  <h1>Welcome to Beezer !</h1>
  <p class="lead">
    Allez découvrir les dernières tendances !
  </p>
</div>
  <div class="grid" id="grid">
      {% for a in Albums %}
        <div class="col-xs-6 col-lg-4">
            <div id="cont">
              <h2>{{a["title"]}}</h2>
              <div id="main_image">
                <a href="album/{{a.title}}">
                  <img src="static/images/{{a.img}}" alt="" onerror="this.src='../static/INF.jpg'"/>

                </a>
              </div>
              <div id="overlay_image">
                {% if current_user.is_authenticated %}
                  <img src="static/like.png" alt="" onerror="this.src='../static/INF.jpg'" onclick="javascript:like({{a['id']}}, {{current_user.id}}, 'home')"/>
                {% else %}
                  <img src="static/like.png" alt="" onerror="this.src='../static/INF.jpg'" onclick="javascript:likeAlt({{a['id']}}, 'SearchAlbum')"/>
                {% endif %}
              </div>
            </div>

        </div>


      {% endfor %}


  </div>
{% endblock %}
