{% extends "base.html" %}

{% block main %}

<div class="container">
  <div class="jumbotron">
    <h1>{{Pseudo}}</h1>
    <img src="../static/ProfilImage/{{imgprofil}}" onerror="this.src='../static/INF.jpg'" />
  </div>
  <h2>Albums liked :</h2>

  <div id="slider">
    {% if lImg == [] %}
      <div class="alert alert-danger">
        <p>
          Vous n'avez pas d'albums liké
        </p>
      </div>
    {% else %}
      <h3 id="h3forimg">{{titles[0]}}</h3>
      <img src="../static/images/{{lImg[0]}}" id="image" alt="" onerror="this.src='../static/INF.jpg'">
      <div class="left_hold"><img onClick="photo({{lImg}},-1, {{titles}})" class="left" src="../static/arrow_left.png"></div>
      <div class="right_hold"><img onClick="photo({{lImg}},1, {{titles}})" class="right" src="../static/arrow_right.png"></div>
    {% endif %}
  </div>
</div>



{% endblock %}
